# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import csv

# Load Data

In [2]:
with open("../Dataset/credit_record.csv") as f:
  data = pd.read_csv(f)
data.drop("Unnamed: 0", axis = 1)

              id  month_bal status
0        5001711          0      X
1        5001711         -1      0
2        5001711         -2      0
3        5001711         -3      0
4        5001712          0      C
...          ...        ...    ...
1048570  5150487        -25      C
1048571  5150487        -26      C
1048572  5150487        -27      C
1048573  5150487        -28      C
1048574  5150487        -29      C

[1048575 rows x 3 columns]

Normalising the duration scores.

In [3]:
id_duration_score = data.groupby("id").size()
def normalise(score):
  score = ((score - 6)/114)*0.3
  if score < 0:
    score = 0
  elif score > 0.3:
    score = 0.3
  return score
duration_score = id_duration_score.apply(normalise)

In [4]:
print(data["status"].unique())

['X' '0' 'C' '1' '2' '3' '4' '5']

Calculate the scores influenced by the credit record status ('X', 'C', '0', '1', '2', '3', '4', '5').

In [5]:
data = data.groupby("id")
credit_history_score = []

for name, group in data:
  score = 0.5
  for status in group['status']:
    if status == "X":
      pass
    elif status == "1":
      score *= 0.9
    elif status == "2":
      score *= 0.85
    elif status == "3":
      score *= 0.8
    elif status == "4":
      score *= 0.75
    elif status == "5":
      score *= 0.7
    else:
      if score >= 1:
        pass
      elif score < 0.5:
        score += 0.005
      else:
        score += 0.00625
  score *= 0.7
  credit_history_score.append([name, score])
scores = pd.DataFrame(credit_history_score, columns = ['id', 'credit_history_score'])
scores['duration_score'] = duration_score.values
scores['total_score'] = scores['credit_history_score'] + scores['duration_score']

Export the processed `credit_record.csv` dataset (commented until needed)

In [6]:
#scores.to_csv('scores.csv', index=False)

In [7]:
scores

            id  credit_history_score  duration_score  total_score
0      5001711              0.363125        0.000000     0.363125
1      5001712              0.433125        0.034211     0.467336
2      5001713              0.350000        0.042105     0.392105
3      5001714              0.350000        0.023684     0.373684
4      5001715              0.350000        0.142105     0.492105
...        ...                   ...             ...          ...
45980  5150482              0.428750        0.031579     0.460329
45981  5150483              0.350000        0.031579     0.381579
45982  5150484              0.406875        0.018421     0.425296
45983  5150485              0.358750        0.000000     0.358750
45984  5150487              0.481250        0.063158     0.544408

[45985 rows x 4 columns]