In [ ]:
import numpy as np
import pandas as pd
import csv

In [ ]:
f = open("credit_record.csv")
with open("credit_record.csv") as f:
  data = pd.read_csv(f)
data.drop("Unnamed: 0", axis = 1)

              id  month_bal status
0        5001711          0      X
1        5001711         -1      0
2        5001711         -2      0
3        5001711         -3      0
4        5001712          0      C
...          ...        ...    ...
1048570  5150487        -25      C
1048571  5150487        -26      C
1048572  5150487        -27      C
1048573  5150487        -28      C
1048574  5150487        -29      C

[1048575 rows x 3 columns]

In [ ]:
id_duration_score = data.groupby("id").size()
def normalise(score):
  score = ((score - 6)/114)*0.3
  if score < 0:
    score = 0
  elif score > 0.3:
    score = 0.3
  return score
duration_score = id_duration_score.apply(normalise)

In [ ]:
print(data["status"].unique())

['X' '0' 'C' '1' '2' '3' '4' '5']

In [ ]:
data = data.groupby("id")

In [ ]:
credit_history_score = []

for name, group in data:
  score = 0.5
  for status in group['status']:
    if status == "X":
      pass
    elif status == "1":
      score *= 0.9
    elif status == "2":
      score *= 0.85
    elif status == "3":
      score *= 0.8
    elif status == "4":
      score *= 0.75
    elif status == "5":
      score *= 0.7
    else:
      if score >= 1:
        pass
      elif score < 0.5:
        score += 0.005
      else:
        score += 0.00625
  score *= 0.7
  credit_history_score.append([name, score])
scores = pd.DataFrame(credit_history_score, columns = ['id', 'credit_history_score'])

In [ ]:
scores['duration_score'] = duration_score.values
scores['total_score'] = scores['credit_history_score'] + scores['duration_score']

In [ ]:
print(min(scores['total_score']))
print(max(scores['total_score']))
print(scores['total_score'].mean())

0.02716769694882894
0.7616118421052622
0.4623043769083367

In [ ]:
scores.to_csv('scores.csv', index=False)

'3.7.14'